* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noticiasSec >h2{
    font-size: 35px;
    padding: 12px;
    color: #203655
}

.noticiasSec> div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 345px));
    gap: 12px;
    overflow: auto;
    padding: 10px;
}

.noticia{
    padding: 20px;
    border-radius: 12px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    transition: all linear 100ms;
    cursor: pointer;
}

.noticia > img {
    width: 300px;
    height: 180px;
    border-radius: 6px;
}

.noticia:hover{
    
    box-shadow: 6px 6px 6px #00000024;
    border-top: 3px solid #F4BE24;
    border-left: 3px solid #F4BE24;
}