* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
}

/*Remover no merge com seção principal*/
#main{
    width: 100vw;
    height: 100vh;
    background-color: red;
}

#noticiasSec{
    padding: 12px;
    min-height: 100vh;
    width: 30vw;
    max-width: 350px;
    border-left: 1px solid #6d585e;
}

#noticiasSec > h2{
    color: #203655;
    font-weight: 800;
}

.noticiaSec{
    padding: 8px 20px;
    margin: 20px 12px;
    border-left: 4px solid #F4BE24;
}

.noticiaSec:hover >h3{
    color: #F4BE24;
    cursor: pointer;
}