/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

html {
    scroll-behavior: smooth
}

:root {
    --cor-primaria: #243650;
    --cor-secundaria: #F4BC1D;
    --cor-terciaria: #A3C4BC;
    --cor-fonte: rgba(255,255,255,.85);
    --white-color: #FFFFFF;
}

/* Início feature-cabecalho */
    .header-container {
        background-color: var(--cor-primaria);
        
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        max-height: 25vh;
    
        padding: 48px;
    }

   
    .header-logo {
        color: rgba(0,0,0,0);
        
        width: 72px;
        height: 72px;
        
        background: url(https://www.pdcase.com/img/logo-pdcase.svg) no-repeat;
        transition: width .15s ease-in-out,height .15s ease-in-out,background-position .15s ease-in-out;
    }


    #title-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: var(--white-color);
        gap: 32px;
    }

    .header-title h1 {
        font-size: 32px;
        font-weight: 500;
        color: var(--white-color);
        margin-bottom: 4px;
    }

    .header-title p {
        font-size: 20px;
        font-weight: 300;
        color: var(--cor-fonte);

        background-color: rgb(52, 79, 117);

        padding: 4px 8px;
        border-radius: 4px;
    }

    nav {
        background-color: transparent;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        gap: 16px;
    }

    nav ul li {
        list-style: none;
    }

    nav a {
        font-size: 24px;
        font-weight: 400;
        text-decoration: none;
        border-radius: 24px;
        float: left;
        padding: 11px 24px;
        color: var(--cor-fonte);
    }

    nav a:hover {
        color: var(--white-color);
    }

/* Fim feature-cabecalho */

/* Início feature-cabecalho-Responsivo */

    @media (max-width: 768px) {
        .header-container{
            margin: 0px;
            flex-direction: column;
            align-items: center;
            top: 0;
            max-height: none;
            padding: 24px;
            gap: 24px;
        }

        #title-area {
            flex-direction: row;
            gap:0;

        }
        
        .header-logo {
            margin-right: 12px; 
        }


        .header-title h1 {
            text-align: flex-start;
            font-size: 24px;
        }

        .header-title p {
            font-size: 14px;
        }

        nav ul {
            flex-direction: row;
            align-items: flex-end;
        
            gap: 14px;
        }

        nav a {
            font-size: 20px;
        }
    }

/* Fim feature-cabecalho-Responsivo */