* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#linksRelacionados{
    padding: 20px;
}

#linksRelacionados > h2{
    font-size: 35px;
    margin-bottom: 20px;
}

#linksRelacionados > div{
    display: flex;
    gap: 40px;
}

.linkRelacionado{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.linkRelacionado > img{
    width: 100px;
}

.linkRelacionado > h3{
    font-size: 25px;
    text-align: center;
}

.linkRelacionado:hover{
    cursor: pointer;
}